<%- include('header.ejs') %>

<!DOCTYPE html>  
<html>  
<head>  
<style>   
    img{  
        height: 500px;  
        width: 500px;  
    }  
    #center {  
        text-align: center;  
    }  
</style>  
</head>  
<body>  
<div id ="center">  
<img src="https://img.freepik.com/free-vector/man-meditating-concept_23-2148508453.jpg?w=740&t=st=1648301332~exp=1648301932~hmac=1cff0ad6f3c01fe1dfdfdd5dd0dc343d5f3c424edd76d42b85995791e6a36d7f"> 

<embed src="/Public/Scripts/beach.mp3" loop="true" autostart="true" width="2" height="0">
</div>  